.body{
    background-color: white;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,.12);
}

.texto{
    margin-left: 15%;
}

button{
    float: right;
}

img{
    float: left;
    width: 45px;
    margin-left:3%;
    padding-bottom:15px;

}

.mat-divider{
    padding-bottom: 10px;
}

img.alineadoTextoImagenCentro{
    vertical-align: middle;
    /* Ojo vertical-align: text-middle no existe*/
}
.titulo{
    font-weight: bold;
    font-size: 13px;
}
.subtitulo{
    color: gray;
    font-size: 12px;
}

@media screen {
    .titulo,.subtitulo{
        margin-left: 25px;
    }
}

.flex{
    display: flex;

}

.flex-col{
    display: flex;
    flex-direction: column;
}

.mr-2{
    margin-right: 2rem;
}

