.title{
    font-weight: bold;
    font-size: 13px;
}
.subtitle{
    color: gray;
    font-size: 12px;
}

.first{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.container-list{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;

}

.container-list_item{
    display: flex;
    flex-direction: column;
    
}

.container-list_item_actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-slide-toggle{
    padding-right: 10px;
    padding-left: 10px;
}

.mat-divider{
    color: gray;
}

/*IMAGEN*/

img{
    margin-left:1%;
    background-color: white;
}

.image{
    width: 50px;
    float: left;
    margin-right: 1rem;
    padding-top:10px;
}

.icon{
    width: 15px;
    height:25px;
}