

<div class="container-list" *ngFor = "let tasks of tasksInOrder">
  <div class ="first" >
    <img class = "image" src="{{tasks?.picture}}">
    <div class = "container-list_item">
        <p class = "title">{{tasks?.title}}</p>
        <p class = "subtitle">{{tasks?.subtitle}}</p>
    </div> 
  </div>
  <div>
    <div class = "container-list_item_actions">
      <button><img class="icon" src="../../../assets/images/calendario.png"></button>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
</div>
<mat-divider></mat-divider>




